.containerScreenVender{
  background-color: rgb(194, 194, 255);
  margin-top: 0.2%;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainScreenVender{
  width: 80%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;

}

.left{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  background-color: rgb(240, 238, 238);
}

/* .containerTextScreenVender{
  background-color: aquamarine;
} */

#textScreenVender{
  font-size: 270%;
  text-align: left;
  margin-left: 0;
  margin-right: 3%;
}

mark{
  background-color: #ffffff00;
  color: #e22446;
}

#actionScreenVender{
  width: 30%;
  background-color: #e22446;
  padding: 3%;
  border-radius: 10px;
  letter-spacing: 0;
  /* text-transform: none;  tira o maiusculo*/
  color: #fff;
  margin-top: 8%;
  font-weight: bolder;
}

#actionScreenVender:hover{
  background-color: #FFB2C1;
}

.right{
  width: 50%;
  height: auto;
}