.containerLogin{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.areaLogin{
  width: 40%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.areaCriarConta{
  width: 40%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titleLogin{
font-size: 200%;
text-align: center;
margin: 0;
margin-top: 3%;
margin-bottom: 2%;
font-family: "Figtree", sans-serif;
font-weight: 700;
font-style: normal;
border-bottom: 2px solid #e22446;
}

.containerCampoTextLogin{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-bottom: 1%;
}

.labelTextLogin{
font-size: 120%;
text-align: left;
margin: 0;
margin-top: 3%;
margin-bottom: 0%;
font-family: "Figtree", sans-serif;
font-weight: 300;
font-style: normal;

}

.campoTextLogin{
  margin-top: 0%;
  font-family: "Figtree", sans-serif;
  padding: 3%;
  border-radius: 8px;
  border: 2px solid #d6d6d6;
}

input:focus{
  border-color: #e22446;
}

.containerButtonsLogin{
  margin-top: 3%;
  margin-bottom: 6%;
  height: auto;
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonLogin{
  padding: 3%;
  background-color: #e22446;
  border-radius: 8px;
  letter-spacing: 0;
  /* text-transform: none;  tira o maiusculo*/
  color: #fff;
}

.buttonLogin:hover{
  background-color: #FFB2C1;
}

.buttonMudarTela{
  color: #e22446;
  letter-spacing: 0;
  font-weight: bolder;
  font-size: 80%;
}

.buttonMudarTela:hover{
  border-bottom: 2px solid #e22446;
}

.containerComunicado{
  width: 70%;
}

.comunicado{
  margin: 0%;
  margin-bottom: 4%;
  color: #6a6977;
  font-size: 76%;

}
